<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Some Website</title>
</head>
<body>
{{> header }}
<p>Lorem ipsum dolor sit amet. Lorem ipsum dolor.</p>



{{> footer}}
</body>
</html>