<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Some Website</title>
</head>
<body>
{{> header }}
<p> <a href="{{portfolioLink}}">link to portfolio</a></p>

{{> footer}}
</body>
</html>